@import "tailwindcss";
body {
  @apply bg-gradient-to-br from-gray-100 via-white to-gray-200;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5f5;
  border-radius: 10px;
}

body {
  font-family: 'Inter', sans-serif;
}